.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-900);
    padding: 3rem 0;
}

.logo{
    display: flex;    
    align-items: center;
}

.header span{
    font-weight: bold;
    font-size: 3rem;
}